.search_modal__dialogue {
  margin-top: 10px;
  height: 850px;
}

.modal__searchbar {
  display: flex;
  align-items: "flex-start";
  color: brown;
  display: none;
}

.search_modal__footer {
  background-color: rgba(128, 128, 128, 0.294);
  color: rgb(1, 1, 3);
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px;
  height: 40px;
}

.search_list {
  display: flex;
  justify-items: flex-start;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.search_list:hover {
  cursor: pointer;
  background-color: cadetblue;
  color: white;
  border-radius: 30px;
}
.search_list > p {
  padding-left: 10px;
}

.search_list__viewmore {
  color: blue;
  padding-left: 10px;
}

.search_list__viewmore:hover {
  color: blue;
  background-color: rgb(130, 205, 255);
  border-radius: 30px;
  cursor: pointer;
  color: white;
}

.search_results {
  /* border: 1px solid #9294a0; */
  border-top: none;
  height: 180px;
}

.search_modal {
  width: 300px;
}
